@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString().ToLower();
    string title = "";
    if (controllerName == "database")
    {
        title = "資料庫查詢";
    }
    else if (controllerName == "inquire")
    {
        title = "常用查詢";
    }
    else if (controllerName == "thematic")
    {
        title = "主題式圖資";
    }
    else if (controllerName == "home")
    {
        title = "首頁";
    }
    else if (controllerName == "publication")
    {
        title = "電子刊物";
    }
    else if (controllerName == "sitemap")
    {
        title = "網站導覽";
    }

}
<!doctype html>
<html lang='zh-Hant-TW'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="能源統計、經濟部能源局、能源局" />
    <meta name="description" content="能源統計資料查詢系統" />
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon/favicon.ico")" />
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/images/favicon_76.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/images/favicon/favicon_120.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/images/favicon/favicon_152.png")">
    <link rel="apple-touch-icon" sizes="167x167" href="@Url.Content("~/images/favicon/favicon_167.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/images/favicon/favicon_180.png")">
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon/favicon_16.png")" sizes="16x16">
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon/favicon_32.png")" sizes="32x32">
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon/favicon_64.png")" sizes="64x64">
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon/favicon_96.png")" sizes="96x96">
    <meta property="og:title" content="經濟部能源局能源統計專區">
    <meta property="og:site_name" content="經濟部能源局能源統計專區">
    <meta property="og:url" content="https://www.esist.org.tw/">
    <meta property="og:image" content="https://www.esist.org.tw/images/logo.svg">
    <meta property="og:image:type" content="svg">
    <meta property="og:description" content="經濟部能源局能源統計專區">
    <meta property="og:type" content="website">
    <title>@title - 經濟部能源局能源統計專區</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" rel="stylesheet">
    <link href="@Url.Content("~/css/boe_inquire2020.css?a=20220901")" rel="stylesheet">
    @RenderSection("css", false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script>
    @RenderSection("js", false)
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WJSP38B');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <a class="goCenter" href="#aC" tabindex="1">按 Enter 到主內容區</a>
    <noscript>您的瀏覽器不支援Javascript功能，若網頁功能無法正常使用時，請開啟瀏覽器Javascript狀態。</noscript>
    <div class="topHead ">
        <div class="container">
            <div style="z-index:1001;position:absolute;height:155px;vertical-align:text-bottom;padding-top:15px;">
                <a class="navbar-brand" href="@Url.Content("~/")" tabindex="2"><img src="@Url.Content("~/images/logo.svg")" alt="經濟部能源局能源統計專區" title="經濟部能源局能源統計專區"><div class="logotext"><span class="text">能源統計專區</span><br /><span class="text2">
    Energy Statistics<br />
    Information System, R.O.C (Taiwan)
</span></div></a>
            </div>
            <div class="topmenu">
                <a href="/" title="首頁">首頁</a>
                &nbsp;&nbsp;&nbsp;
                <a href="https://www.moeaboe.gov.tw" target="_blank" title="另開視窗 能源局">能源局</a>
                &nbsp;&nbsp;&nbsp;
                <a href="https://www.facebook.com/moeaboe" target="_blank" title="另開視窗 能源局FB"><img src="@Url.Content("~/Content/images/fb.png")" width="20" style="margin-bottom:5px;" /></a>
                &nbsp;&nbsp;&nbsp;
                <a href="/Sitemap" title="導覽">導覽</a>&nbsp;&nbsp;&nbsp;
                <a href="/EN" title="Englist">EN</a>&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
    <figure class="backtotop"><i class="fa fa-arrow-up" aria-hidden="true"></i></figure>
    <nav class="navbar navbar-expand-lg boe_head">

        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="選單"><span></span> <span></span> <span></span> <span></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">

                    <li @(controllerName == "thematic" ? "class=current" : "")>
                        <a href="@Url.Content("~/thematic")">
                            <!--  <svg viewBox="0 0 24 24">
                        <polygon points="1.2 22.8 1.2 0 0 0 0 24 24 24 24 22.8" />
                        <rect x="3.6" y="7.4" width="4.5" height="14.5" />
                        <rect x="10.2" y="2.4" width="4.5" height="19.5" />
                        <rect x="16.8" y="10.6" width="4.5" height="11.2" />
                    </svg>-->
                            主題式圖資
                        </a>
                    </li>
                    <li @((controllerName == "inquire") ? "class=current" : "")>
                        <a href="@Url.Content("~/Inquire/List?Id=1")">
                            @*<svg viewBox="0 0 24 24">
                            <path d="m23.5 19.5-2.5-2.5c0.4-0.9 0.7-1.9 0.7-3 0-3.5-2.8-6.4-6.4-6.4-3.4 0.1-6.3 2.9-6.3 6.4s2.8 6.4 6.4 6.4c1 0 2.1-0.3 3-0.7l2.5 2.5c0.7 0.7 1.9 0.7 2.6 0 0.7-0.8 0.7-1.9 0-2.7zm-8.1-0.6c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9 4.9 2.2 4.9 4.9-2.2 4.9-4.9 4.9zm0 2.4c-4 0-7.3-3.3-7.3-7.3s3.3-7.3 7.3-7.3c1.4 0 2.7 0.4 3.8 1.1v-7.7h-13.8l-5.4 5.4v18.4h19.2v-2.2l-1-1c-0.9 0.4-1.9 0.6-2.8 0.6zm-9.2-15.1h-5.1l5.1-5.1v5.1z" />
                        </svg>*@
                            常用查詢
                        </a>
                    </li>
                    <li @(controllerName == "database" ? "class=current" : "")>
                        <a href="@Url.Content("~/database")">
                            <!--   <svg viewBox="0 0 24 24" xml:space="preserve">
                    <path d="m12 0c-5.7 0-10.1 2.1-10.1 4.8v14.4c0 2.7 4.4 4.8 10.1 4.8s10.1-2.1 10.1-4.8v-14.4c0-2.7-4.4-4.8-10.1-4.8zm0 7.7c-5 0-8.2-1.7-8.2-2.9s3.2-2.9 8.2-2.9 8.2 1.7 8.2 2.9-3.2 2.9-8.2 2.9zm0 4.8c-5 0-8.2-1.7-8.2-2.9v-2c1.8 1.2 4.9 2 8.2 2s6.4-0.7 8.2-1.9v2c0 1.1-3.2 2.8-8.2 2.8zm0 4.8c-5 0-8.2-1.7-8.2-2.9v-2c1.8 1.2 4.9 1.9 8.2 1.9s6.4-0.7 8.2-1.9v2c0 1.2-3.2 2.9-8.2 2.9zm8.2-0.1v2c0 1.2-3.2 2.9-8.2 2.9s-8.2-1.7-8.2-2.9v-2c1.8 1.2 4.9 1.9 8.2 1.9s6.4-0.6 8.2-1.9z" />
                    </svg>-->
                            資料庫查詢
                        </a>
                    </li>
                    <li @(controllerName == "publication" ? "class=current" : "")>
                        <a href="@Url.Content("~/publication/monthly")" class="mobile_icon">
                            <!--<svg viewBox="0 0 24 24" xml:space="preserve">
                    <path d="m19.7 1.6h-12.9c-1.7 0-3.1 1.4-3.1 3.1v13.4c0 0.1 0 0.2 0.1 0.3 0 0.2-0.1 0.4-0.1 0.7 0 1.9 1.5 3.4 3.4 3.4h12.6c0.3 0 0.6-0.3 0.6-0.6s-0.3-0.6-0.6-0.6h-12.6c-1.2 0-2.2-1-2.2-2.2s1-2.2 2.2-2.2h12.6c0.3 0 0.6-0.3 0.6-0.6v-14c0-0.4-0.3-0.7-0.6-0.7zm-0.6 14h-12c-0.8 0-1.6 0.3-2.2 0.8v-11.7c0-1.1 0.9-1.9 1.9-1.9h12.3v12.8zm0.6 2.7h-12.2c-0.3 0-0.6 0.3-0.6 0.6s0.3 0.6 0.6 0.6h12.2c0.3 0 0.6-0.3 0.6-0.6s-0.3-0.6-0.6-0.6z"></path>
                    </svg>-->
                            電子刊物
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Content("~/publication/page_info")">公告資訊</a></li>
                            <li><a href="@Url.Content("~/publication/monthly")">能源統計月報</a></li>
                            <li><a href="@Url.Content("~/publication/page01")">能源統計年報</a></li>
                            <li><a href="@Url.Content("~/publication/page1")">能源平衡表</a></li>
                            <li><a href="@Url.Content("~/publication/page2")">能源統計手冊</a></li>
                            <li><a href="@Url.Content("~/publication/page3")">燃料燃燒二氧化碳排放統計與分析</a></li>
                        </ul>
                    </li>
                    @*<li >
                    <a href="#" >
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                             width="28" height="28"
                             viewBox="0 0 30 30"
                             style=" fill:#2b3656;">
                            <path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"></path>
                        </svg>
                    </a>
                </li>
                <li>
                        <a href="https://forms.gle/oe6NvfquPbQUS7699" target="_blank">
                            <svg viewBox="0 0 24 24" xml:space="preserve">
                                <path d="m23.5 19.5-2.5-2.5c0.4-0.9 0.7-1.9 0.7-3 0-3.5-2.8-6.4-6.4-6.4-3.4 0.1-6.3 2.9-6.3 6.4s2.8 6.4 6.4 6.4c1 0 2.1-0.3 3-0.7l2.5 2.5c0.7 0.7 1.9 0.7 2.6 0 0.7-0.8 0.7-1.9 0-2.7zm-8.1-0.6c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9 4.9 2.2 4.9 4.9-2.2 4.9-4.9 4.9zm0 2.4c-4 0-7.3-3.3-7.3-7.3s3.3-7.3 7.3-7.3c1.4 0 2.7 0.4 3.8 1.1v-7.7h-13.8l-5.4 5.4v18.4h19.2v-2.2l-1-1c-0.9 0.4-1.9 0.6-2.8 0.6zm-9.2-15.1h-5.1l5.1-5.1v5.1z" />
                            </svg>
                            使用者滿意度調查問卷
                        </a>
                    </li>
                    <li style="display:none">
                        <a href="#">
                            <svg viewBox="0 0 24 24">
                                <path d="m12.6 4.2c0.3-0.1 0-0.8-0.3-0.8-0.2 0-0.6 0.3-0.6 0.6 0 0.2 0.6 0.4 0.9 0.2zm-0.6-4.2c-6.6 0-12 5.4-12 12s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm4 20.9c-0.5 0.1-1.1 0.1-2.4 0.1-1.5 0-1.8 0.5-2.2 0.7-0.4 0-0.8-0.1-1.1-0.1-0.1 0-0.1-0.1-0.2-0.1-0.9-0.5-1.4-0.5-1.7-0.4-3.6-1.4-6.1-5-6.1-9.1 0-1.4 0.3-2.8 0.8-4 0.6 2.2-0.8 2.3-0.8 4 0 1.1 0.7 3 1.8 4.7 1.2 1.8 2.9 3.5 3.5 3.3 1.1-0.3-2.4-0.8-0.3-4.8 2.2-4-2.8-1.4-3.6-6.9-0.3-2 1.1-1.4 2.1-2.9 0.8-1.1 2.2-1.4 2.1-2.2 0.6-0.3 1.2-0.5 1.9-0.7-0.8 0.7-1.4 1.2 0.1 0.9 1.6-0.3 2.4-0.6 2.5-1.1 0.9 0 1.7 0.1 2.5 0.4-0.6-0.1-1.7-0.1-1.7 0.7-0.1 1.1-0.2 1.5-0.7 1.6s-0.6 0.3-0.6 0.5c0 0.7 0.7 0.8 1.7 0s1.3 0.3 2.1 0.4c0.8 0.2 0.7-0.8 1.4-0.6 0.7 0.3 1.5 1.7-0.6 1.6s-3.1-0.7-4.6 0.1c-2.3 1-1.9 4.2 0.4 4.2 1.8 0 2.4 0.1 3 2 0.6 2-0.4 2.7 0.6 4.2 1 1.6 3.5-2.8 3.4-4.3s1.9-2.2 0.8-3.9 0.2-1.7 1.2-0.7c0.3 1.1 0.6 2.3 0.6 3.5-0.1 4-2.5 7.4-5.9 8.9zm4.3-6.9c-0.6 0.3-1.7 2.2-1.3 2.3 0.6 0.2 1.9-2.6 1.3-2.3z" />
                            </svg>
                            EN
                        </a>
                    </li>*@
                </ul>
            </div>
            <div class="mb_logo"><img src="/images/logo.svg" alt="經濟部能源局能源統計專區" title="經濟部能源局能源統計專區">能源統計專區</div>
        </div>
    </nav>
    <div class="accesskey hidden-xs"><a href="#aC" title="中央內容區塊" id="aC" accesskey="C">:::</a></div>
    @RenderBody()
    <footer class="boe_footer">
        <div class="container">
            <div class="foo_left">
                聯絡地址: 10492 台北市復興北路2號13樓<br />聯絡電話: (02)2775-7784<br />聯絡信箱: ecstat@moea.gov.tw
            </div>
            <div class="foo_right">
                @if (ViewData["瀏覽人次"] != null)
                {
                    @:瀏覽人次：@(ViewData["瀏覽人次"].ToString())人次<br />
                }
                建議使用Edge、Google Chrome、Firefox、Safari等瀏覽器軟體<br />
                <a href="/Home/Privacy/" class="sitemap">隱私權保護、使用與資安政策</a>
            </div>          
        </div>
    </footer>
    <script src="@Url.Content("~/js/master.js?v0826")"></script>
</body>
</html>

