@{
    Layout = "know_3min_master.cshtml";
}

<article class="container">
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/title_01.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/01_1.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/01_2.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/01_3.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg_none white_bg"><img src="@Url.Content("~/images/know_3/01_4.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg_none white_bg"><img src="@Url.Content("~/images/know_3/01_5.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg_none white_bg"><img src="@Url.Content("~/images/know_3/01_6.gif")" class="w100" alt="" /></figure>
    <figure class="white_bg_none white_bg"><img src="@Url.Content("~/images/know_3/01_7.gif")" class="w100" alt="" /></figure>
    <div class="display_flex section_pad_btm"><a href="@Url.Content("~/College/know_3min2")" class="btn orange_bg ml-auto">能源轉換 <i class="icon ion-ios-arrow-forward"></i></a></div>
</article>

