@{
    Layout = "know_3min_master.cshtml";
}

<article class="container">
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/title_04.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/04_1.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/04_2.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/4_3.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/4_4.gif")" class="w100" alt="" /></figure>
    <figure class="white_bg"><img src="@Url.Content("~/images/know_3/4_5.gif")" class="w100" alt="" /></figure>
    <div class="display_flex section_pad_btm"><a href="@Url.Content("~/College/know_3min3")" class="btn orange_bg"><i class="icon ion-ios-arrow-back"></i> 能源消費</a></div>
</article>
