@{
    Layout = "know_3min_master.cshtml";
}

<article class="container">
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/title_03.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/03_1.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/03_2.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/03_3.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/03_4.gif")" class="w100" alt="" /></figure>
    <figure class="white_bg"><img src="@Url.Content("~/images/know_3/03_5.gif")" class="w100" alt="" /></figure>
    <div class="display_flex section_pad_btm"><a href="@Url.Content("~/College/know_3min2")" class="btn orange_bg"><i class="icon ion-ios-arrow-back"></i> 能源轉換</a><a href="@Url.Content("~/College/know_3min4")" class="btn orange_bg ml-auto">電力供需 <i class="icon ion-ios-arrow-forward"></i></a></div>
</article>
