@{
    Layout = "know_3min_master.cshtml";
}

<article class="container">
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/title_02.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/02_1.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/02_2.gif")" class="w100" alt="" /></figure>
    <figure class="margin_btm_none white_bg"><img src="@Url.Content("~/images/know_3/02_3.gif")" class="w100" alt="" /></figure>
    <figure class="white_bg"><img src="@Url.Content("~/images/know_3/02_4.gif")" class="w100" alt="" /></figure>
    <div class="display_flex section_pad_btm"><a href="@Url.Content("~/College/know_3min1")" class="btn orange_bg"><i class="icon ion-ios-arrow-back"></i> 能源供給</a><a href="@Url.Content("~/College/know_3min3")" class="btn orange_bg ml-auto">能源消費 <i class="icon ion-ios-arrow-forward"></i></a></div>
</article>
