@using JamZoo.Project.WebSite.Enums;
@using JamZoo.Project.WebSite.Library;
@using System.Web.Script.Serialization;
@model JamZoo.Project.WebSite.Models.EnergyModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
@Html.ActionLink("回上頁", "List", new { page = Model.page }, new { @class = "pure-button" })
<p>
@Html.ValidationMessage("message")
</p>

@using (Html.BeginForm(Model.Mode == EditPageMode.Create ? "create" : "update", 
    CurrentController, new { page = Model.page }, FormMethod.Post,
    new { enctype = "multipart/form-data", @class = "pure-form pure-form-aligned" }))
{
	<fieldset>	

					@Html.HiddenFor(p => p.Id)

		<div class="pure-control-group">
			@Html.LabelFor(p => p.Pagename)
			@Html.TextBoxFor(p => p.Pagename, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.Pagename)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.Parentid)
			@Html.TextBoxFor(p => p.Parentid, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.Parentid)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.Depth)
			@Html.TextBoxFor(p => p.Depth, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.Depth)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.Name)
			@Html.TextBoxFor(p => p.Name, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.Name)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.Tablename)
			@Html.TextBoxFor(p => p.Tablename, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.Tablename)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.Unitlistupper)
			@Html.TextBoxFor(p => p.Unitlistupper, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.Unitlistupper)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.Unitlistbottom)
			@Html.TextBoxFor(p => p.Unitlistbottom, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.Unitlistbottom)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.Colidlist)
			@Html.TextBoxFor(p => p.Colidlist, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.Colidlist)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.Notes)
			@Html.TextBoxFor(p => p.Notes, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.Notes)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.Hidelist)
			@Html.TextBoxFor(p => p.Hidelist, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.Hidelist)
		</div>

		<div class="pure-control-group">
			@Html.LabelFor(p => p.Colorlist)
			@Html.TextBoxFor(p => p.Colorlist, new { @class = "pure-input-1-2" })
			@Html.ValidationMessageFor(p => p.Colorlist)
		</div>



		<div class="pure-control-group">
            <label></label>
            @if (Model.Mode == EditPageMode.Create)
            {
                <input type="submit" value="新 增" class="pure-button" />
            }
            else if (Model.Mode == EditPageMode.Update)
            {
                <input type="submit" value="修 改" class="pure-button" />
            }
           
        </div>
	</fieldset>
}