@model JamZoo.Project.WebSite.Models.EnergyListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string CurrentController = string.Empty;
    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        CurrentController = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
@Html.Partial("_ErrorMsg", ViewContext.ViewData)
<p></p>
@using (Html.BeginForm("List", CurrentController, FormMethod.Get, new { @class = "pure-form" }))
{ 
    <div class="pure-u-1-1" style="text-align:right">
        @Html.TextBoxFor(p => p.Search, new { placeholder = "搜尋文字" })
        <input type="submit" class="pure-button" value="查詢" />
    </div>
}
<p></p>
@Html.ActionLink("新增", "add", new { page = Model.Page }, new { @class = "pure-button" })
<p></p>
<table class="pure-table pure-table-bordered" style="width: 100%">
    <thead>
        <tr>
			<th>頁面名稱</th>

			<th style="width:52px"></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Data != null)
        {
            if (Model.Data.Count == 0)
            {
            <tr class="info">
                <td colspan="2">暫無資料 </td>
            </tr>
            }
            foreach (var Row in Model.Data)
            {
            <tr>
				<td> @Row.Pagename </td>

                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = Row.Id, page = Model.Page }, new { })
                    @Html.ActionLink("刪除", "delete", new { id = Row.Id, page = Model.Page }, new { onclick = "return confirm('確定刪除?');" })
                </td>
            </tr>
            }
        }
        else
        {
            <tr class="info">
                <td colspan="2">暫無資料 </td>
            </tr>
        }
    </tbody>
</table>
<p></p>
@{
    Request.RequestContext.RouteData.Values.Add("Search", Model.Search);
    @Html.Partial("_Pager", (JamZoo.Project.WebSite.Models.PagerModel)Model)
}