@using JamZoo.Project.WebSite.ViewModels
@using System.Globalization;
@using System.Text.RegularExpressions
@model PublicListPage
@{
    Layout = "~/Views/Publication/_Master.cshtml";
    var s = "";
    var startsn = 0;
    var endsn = 0;
    var flag1 = "current";
    var flag2 = "show";
}
<style>
    .content-inner .title-container .title {
        font-size: 1.7rem;
        font-weight: 500;
        letter-spacing: 1.3px;
        text-align: left;
        color: #2D6D4B;
        display: inline-block;
        position: relative;
        margin-top: 10px;
    }

    .content-inner .title-container {
        border-bottom: solid 1px #e6e6e6;
        text-align: left;
        width: 30%;
        float: left;
        padding: 22.5px 20px;
        padding-bottom: 48px;
        border: 1px solid #000;
        /*border-radius: 100px;*/
        align-items: center;
        transition: background .3s,box-shadow .3s;
        box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
        margin-top: 20px;
        font-weight: bold;
        font-size: 1.25rem;
    }
    .mg0{
        margin-left:40px;
        margin-right:40px;
    }
    .p_icon{
            width:48px; float: left;
            padding:5px;
    }
    .page_hr{
        border-bottom: 1px solid #eee;
        padding: 0.5em 1.5em 0.5em 0.7em;
        line-height: 1.2em;
        font-weight:bold;
        font-size: 1.25rem;

    }





    .content-inner .title-container .title:after {
        /*content: ' ';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -8px;
        left: 0;
        background-color: #2D6D4B;*/
    }


    .date_l {
        width: 100%;
        display: block !important;
    }

        .date_l .datebox {
            float: right;
            padding-right: 0.7em;
        }

    .content-inner .itemc a {
        color: darkslategrey;
        font-weight: bold;
    }

    .content-inner .item-wrap {
        width: 100%
    }

    .content-inner .itemc ul {
        padding-top: 20px;
        float: right;
    }

    .content-inner .link span {
        display: none;
    }

    .content-inner .link {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        color: #fff;
        font-size: 1.0rem;
        padding: 5px 20px;
        border: 2px solid;
        width: 80%;
        background: 0 0;
        border-radius: 6px;
        opacity: 0;
        text-align: center;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    .content-inner .item:hover .link {
        -webkit-transition: width .3s ease;
        -o-transition: width .3s ease;
        transition: width .3s ease;
        width: 50%;
        opacity: 1;
    }

        .content-inner .item:hover .link span {
            display: inline-block;
        }

    .title-container > a > img {
        width: 35px;
        height: 35px;
        float: right;
        margin-top: 15px;
    }

    .nav-item {
        font-weight: bold;
    }

    .nav-link {
        color: black;
    }

        .nav-link.active {
            color: #393 !important;
        }
        .content-inner .title-container p {
    height: 68px;
    overflow: hidden;
    line-height: 110%;
    text-overflow: ellipsis;
}
</style>
<link href="~/css/tabs.css" rel="stylesheet">


<div class="publishing_rbox">
    <nav class="publishing_hgroup">
        <div class="date_l">
            @*<dl class="datebox coffee">
                    <dt>發布日</dt>
                    <dd>110-12-30</dd>
                </dl>*@
            <dl class="datebox gray">
                <dt>更新日</dt>
                <dd>@ViewBag.LASTUPDATE</dd>
            </dl>
        </div>
        <figure class="download_btn">
            @*  <a href="#">
                    <svg viewBox="0 0 95 40">
                        <path d="m24 9.7v-0.7h-2.9v0.8h2.8c0.1 0 0.1 0 0.1-0.1zm0-2.7c0-0.1 0-0.1-0.1-0.1h-2.8v0.9h2.9v-0.8zm21.8 6.7-1.3-0.1v0.9h1.3v-0.8zm-22.3 3.6h-6.3c-0.1 0-0.2 0.1-0.2 0.2v0.6h6.7v-0.6c0-0.1 0-0.2-0.2-0.2zm18.1-3.6v0.9h1.4v-0.9h-1.4zm28.4 17.8v-19h-2.6v19l-3.9-3.8-1.9 1.8 7 6.9 7-6.9-1.9-1.8-3.7 3.8zm-53-11.3h6.7v-0.8h-6.7v0.8zm24.6-3.6 1.4 0.1v-0.9h-1.4v0.8zm4.2 0v-0.9h-1.3v0.9h1.3zm35.3-6.4c-0.2-5.4-4.7-9.7-10.2-9.7-2.8 0-5.4 1.2-7.3 3.1h-58.7c-2.5 0-4.6 2.1-4.6 4.6v10.9c0 2.5 2.1 4.6 4.6 4.6h48.5c1.3 0.8 2.7 1.3 4.4 1.3h6.6v-2.6h-6.5c-3 0-5.5-2.4-5.5-5.4 0-2.2 1.4-4.2 3.7-5l1-0.4 0.2-1.1c0.3-1.5 1.6-2.6 3-2.7 1.6-0.1 3 1.2 3 1.2l0.7-1.7c1.3-2.6 4-4.3 6.9-4.3 4.2 0 7.6 3.3 7.6 7.4v1.6 0.6h1.9c2.7 0 4.8 2.2 4.8 4.8s-2.2 4.8-4.8 4.8h-7.3v2.6h7.3c4.1 0 7.4-3.3 7.4-7.4-0.1-3.7-2.9-6.8-6.7-7.2zm-30.9-5.4c0.5 0.4 1 0.9 1.6 1.6l-0.6 1.2c-0.6-0.7-1.2-1.2-1.6-1.6l0.6-1.2zm-36.6 16.6h-12.1v-1.6h5.3v-3h-3.9v-1.6h3.9v-3h-3.3v-1.6h8.2v1.6h-3.3v3h3.8v1.6h-3.8v3h5.3v1.6zm-0.5-10.1c-2.1-1.2-3.9-2.4-5.5-4.3-1.1 1.5-3 2.8-5.6 4.5l-0.7-1.5c3.1-1.5 5.1-3.3 6-5.1l1.1 0.3-0.1 0.3c1.5 1.8 3.4 3.3 5.5 4.3l-0.7 1.5zm12.1 10.7h-1.5v-0.5h-6.7v0.5h-1.5v-5.5c0-0.3 0.1-0.5 0.3-0.5h9c0.3 0 0.4 0.2 0.4 0.5v5.5zm1.3-6.6h-12.3v-1.4h5.4v-0.8h-4.6v-1.3h4.6v-0.8h-4.3v-1.3h4.3v-0.8h-5.3v-1.3h5.3v-0.9h-4.2v-1.3h4.2v-0.7h1.7l-0.2 0.7h3.7c0.4 0 0.5 0.1 0.5 0.4v1.7h1.1v1.4h-1.1v1.6c0 0.3-0.1 0.5-0.3 0.5h-3.9v0.8h4.6v1.3h-4.6v0.8h5.4v1.4zm12.6-8.2h-5.6v2.2c1.8 1.5 3.3 3.1 4.9 4.9l-0.8 1.5c-1.2-1.4-2.5-2.9-4.2-4.5v10.7h-1.4v-14.8h-4.9v-1.6h12.1v1.6zm11.8 15c-0.6 0-1.2-1.8-1.5-2.8-0.6 1.1-1.3 2-2.1 2.7l-0.8-1.1 1-0.9h-3v1.9h-1.5v-1.9h-3.1v-1.4h3.1v-0.9h-2.3c-0.3 0-0.3-0.1-0.3-0.2v-5c0-0.1 0-0.2 0.1-0.2h2.5v-0.7h-2.9v-1.3h2.9v-0.7h1.5v0.8h2.9v1.3h-2.9v0.7h2.5c0.1 0 0.1 0.1 0.1 0.2v5c0 0.1 0 0.2-0.3 0.2h-2.3v0.9h3.1v1.3c0.7-0.8 1.2-1.6 1.5-2.2-0.5-2.1-0.8-5-1-8.6h-8.3v-1.4h3.4v-1h-2.7v-1.3h2.7v-0.8h1.5v0.8h2.7v1.3h-2.7v1h3.4l-0.1-3.1 1.4 0.1v3h2.6v1.4h-2.6c0.1 2.9 0.4 5.9 0.4 5.9s0.3-2.5 0.3-4.7l1.2 0.1-0.1 2.3c-0.2 1.7-0.3 2.9-1 4.7 0 0 0.2 1.9 0.5 1.9 0.1 0 0.3 0 0.2-1.9l1.2 0.4c-0.1 2.1-0.4 4.2-1.2 4.2z"></path>
                    </svg>
                </a>*@
        </figure>
    </nav>

    <section>
        <div class="content-inner ">

            <div class="page_hr">報表下載&說明</div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    @for (int i = 0; i < Model.Data.Data.Count(); i++)
                    {
                        var parent = Model.Data.Data[i];
                        for (int k = 1; k <= parent.Child.Data.Count(); k++)
                        {
                            var item = parent.Child.Data[k - 1];
                            var titleNum = Regex.Replace(@item.Title, "[^0-9\\-]", "");

                            //     if (item.Excel != null)
                            {

                                <div class="item-image def_bg_color">
                                    <div class="title-container  @if (k % 3 == 2) { @:mg0
                                    } ">
                                        <P>
                                            @titleNum.Replace(".", "")<br>
                                            @if (titleNum != "")
                                            {
                                                @item.Title.Replace(titleNum, "")
                                            }
                                            else
                                            {
                                                @item.Title
                                            }

                                        </P>
                                        <div class="p_icon_row">
                                            @if (item.Excel != null)
                                            {
                                                <div class="p_icon">
                                                    <a href="/upload/@item.Excel" target="_blank" title="開啟 @item.Excel"><img src="/images/publication/doc_5.svg"></a>
                                                </div>
                                            }
                                            @if (item.Meta != null)
                                            {
                                                <div class="p_icon"><a href="/upload/@item.Meta" target="_blank" title="開啟 @item.Meta"><img src="/images/publication/doc_4.svg"></a></div>
                                            }
                                            @if (item.Ods != null)
                                            {
                                                <div class="p_icon"><a href="/upload/@item.Ods" target="_blank" title="開啟 @item.Ods"><img src="/images/publication/doc_1.svg"></a></div>
                                            }
                                            @if (item.Word != null)
                                            {
                                                <div class="p_icon"><a href="/upload/@item.Word" target="_blank" title="開啟 @item.Word"><img src="/images/publication/doc_3.svg"></a></div>
                                            }
                                            @if (item.Pdf != null)
                                            {
                                                <div class="p_icon"><a href="/upload/@item.Pdf" target="_blank" title="開啟 @item.Pdf"><img src="/images/publication/doc_2.svg"></a></div>
                                            }
                                            @if (item.PNG != null)
                                            {
                                                <div class="p_icon"><a href="/upload/@item.PNG" target="_blank" title="開啟 @item.PNG"><img width="38" src="/images/publication/doc_6.svg"></a></div>
                                            }
                                            @if (item.JSON != null)
                                            {
                                                <div class="p_icon"><a href="/upload/@item.JSON" target="_blank" title="開啟 @item.JSON"><img width="38" src="/images/publication/doc_7.svg"></a></div>
                                            }
                                        </div>
                                    </div>


                                </div>
                            }
                            if (k % 3 == 0 && k != 0 && k != parent.Child.Data.Count())
                            {

                                <div class="row page_hr"></div>
                            }

                        }


                    }
                    <div class="row" style="width:100%;margin-top:30px;">
                        <P>
                            <br />
                            註：手機、平板建議可使用官方app以獲得完整功能支援
                        </P>
                    </div>
                </div>
              
            </div>

        </div>
    </section>
    @*<div class="panel-content show">
            <div class="row">
                <div class="col-md-6">@parent.Title</div>
                <div class="col-md-6">
                    <ul class="publishing_btn">
                        <li><a href="~/Content/uploads/編製說明.odt" title="開啟 編製說明.odt"><img src="/images/publication/doc_1.svg"></a></li>
                        <li><a href="/Content/uploads/編製說明.pdf" title="開啟 編製說明.pdf"><img src="/images/publication/doc_2.svg"></a></li>
                        <li><a href="/Content/uploads/編製說明.doc" title="開啟 編製說明.doc"><img src="/images/publication/doc_3.svg"></a></li>
                    </ul>
                </div>
            </div>

        </div>*@
</div>
<script>
    $('#bread').html('<li><a href="/">首頁</a></li><li ><a href="./monthly">能源統計月報</a></li><li >'+ '@Model.Data.Data[0].Title' +'</li>');
</script>